@import "tailwindcss";
@import "highlight.js/styles/github.css";




/* Custom scrollbar for code editor */
.code-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.code-scroll::-webkit-scrollbar-track {
  background: #0f172a; /* dark track */
  border-radius: 6px;
}

.code-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #38bdf8, #6366f1); /* blue gradient */
  border-radius: 6px;
}

.code-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #60a5fa, #818cf8);
}

/* Firefox */
.code-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #0f172a;
}
